.ant-input.ant-input-disabled {
  color: rgba(0, 0, 0, 0.65);
}

.ant-modal.modal-scrollable {
  height: 80%;
}

.ant-modal.modal-scrollable > .ant-modal-content {
  height: 100%;
}

.ant-modal.modal-scrollable > .ant-modal-content > .ant-modal-body {
  height: calc(100% - 110px);
  overflow-y: scroll;
}
